.my-kids {
  flex: 1;
  height: 568px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .kid-list {
    height: 100%;
    gap: 16px;
    overflow-y: auto;
    border-radius: 12px;
    padding: 8px;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &>*:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}